/*p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}*/

/*p{
    margin: 100px 150px 100px 80px;
}*/

/*p{
    margin: 25px 50px 75px;
}*/

/*p{
    margin: 20px;
}*/

p{
    padding-left: 50px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-top: 20px;

    width: 300px;
    border: 15px solid green;
    margin: 20px;
    background-color: lightgrey;
    color: #ff0000;
}

body{
    background-color: rgb(90, 90, 153);
}